- name: Create the backend-dev group
  ansible.builtin.group:
    name: backend-dev
    state: present
  become: true

- name: Create the backend-dev user
  ansible.builtin.user:
    name: backend-dev
    group: backend-dev
    create_home: true
    shell: /bin/bash
  become: true

- name: Download Microsoft repository configuration
  ansible.builtin.get_url:
    url: "https://packages.microsoft.com/config/debian/13/packages-microsoft-prod.deb"
    dest: "/tmp/packages-microsoft-prod.deb"
    mode: '0644'
  become: true

- name: Install Microsoft repository package
  ansible.builtin.apt:
    deb: "/tmp/packages-microsoft-prod.deb"
  become: true

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
  become: true

- name: Install .NET SDK
  ansible.builtin.package:
    name: dotnet-sdk-10.0
    state: present
  become: true

- name: Install .NET Runtime
  ansible.builtin.package:
    name: dotnet-runtime-10.0
    state: present
  become: true

- name: Cleanup temporary files
  ansible.builtin.file:
    path: "/tmp/packages-microsoft-prod.deb"
    state: absent
  become: true
