- name: Add Microsoft package signing key
  ansible.builtin.apt_key:
    url: https://packages.microsoft.com/config/debian/13/packages-microsoft-prod.deb
    state: present
  become: true

- name: Install .NET SDK
  ansible.builtin.package:
    name: "{{ dotnet_sdk_package_name }}"
    state: present
  become: true

- name: Install .NET Runtime
  ansible.builtin.package:
    name: "{{ dotnet_runtime_package_name }}"
    state: present
  become: true
