---
- name: Download Martin Debian package
  ansible.builtin.get_url:
    url: "{{ martin_repo_url }}/martin-Debian-{{ martin_arch }}.deb"
    dest: "/tmp/martin-Debian-{{ martin_arch }}.deb"
    mode: '0644'

- name: Install Martin via dpkg (using apt for dependency resolution)
  ansible.builtin.apt:
    deb: "/tmp/martin-Debian-{{ martin_arch }}.deb"
    state: present
  become: true

- name: Cleanup the downloaded .deb file
  ansible.builtin.file:
    path: "/tmp/martin-Debian-{{ martin_arch }}.deb"
    state: absent

- name: Verify Martin installation
  ansible.builtin.command: martin --version
  changed_when: false
  register: martin_check

- name: Display Martin version
  ansible.builtin.debug:
    var: martin_check.stdout

- name: Allow Martin to bind to port 3000
  community.general.seport:
    ports: 3000
    proto: tcp
    setype: http_port_t
    state: present
  become: true
