- name: Install prometheus dependencies
  ansible.builtin.apt:
    name:
      - wget
      - gnupg2
      - software-properties-common
    state: present
    update_cache: true
  become: true

- name: Install Prometheus
  ansible.builtin.apt:
    name:
      - prometheus
      - prometheus-node-exporter
      - prometheus-alertmanager
    state: present
    update_cache: true
  become: true

- name: Ensure Prometheus service is started and enabled
  ansible.builtin.systemd:
    name: prometheus
    state: started
    enabled: true
  become: true

- name: Ensure Prometheus Node Exporter service is started and enabled
  ansible.builtin.systemd:
    name: prometheus-node-exporter
    state: started
    enabled: true
  become: true
