---
- name: Install common dependencies
  ansible.builtin.apt:
    name:
      - wget
      - gnupg2
      - software-properties-common
    state: present
    update_cache: true
  become: true

# --- EXPORTER SECTION (Targeted at all managed nodes) ---
- name: Install Prometheus Node Exporter
  ansible.builtin.apt:
    name: prometheus-node-exporter
    state: present
  become: true
  when: "'log_exporters' in group_names"

- name: Ensure Node Exporter is started and enabled
  ansible.builtin.systemd:
    name: prometheus-node-exporter
    state: started
    enabled: true
  become: true
  when: "'log_exporters' in group_names"

# --- CONTROLLER SECTION (Targeted at the management node) ---
- name: Install Prometheus Server and Alertmanager
  ansible.builtin.apt:
    name:
      - prometheus
      - prometheus-alertmanager
    state: present
  become: true
  when: "'log_controllers' in group_names"

- name: Ensure Controller services are started and enabled
  ansible.builtin.systemd:
    name: "{{ item }}"
    state: started
    enabled: true
  become: true
  loop:
    - prometheus
    - prometheus-alertmanager
  when: "'log_controllers' in group_names"
